// Cores
$cor-primaria: #1e1e2f;
$cor-secundaria: #333356;
$cor-texto: #333;
$cor-branca: #fff;

// Tipografia
$fonte-principal: Arial, Helvetica, sans-serif;

// Espaçamentos
$padding-section: 3rem 2rem;
$largura-max: 1200px;
